In [4]:
import pandas as pd
from sdv.metadata import SingleTableMetadata

In [6]:
df = pd.read_csv("SampleDataFoodSales.csv")
metadata = SingleTableMetadata()
metadata.detect_from_dataframe(data=df)

In [ ]:
#         'Cookies': 'Chocolate Chip',
#         'Cookies': 'Arrowroot',
#         'Cookies': 'Oatmeal Raisin',
#         'Bars': 'Carrot',
#         'Bars': 'Bran',
#         'Bars': 'Banana',
#         'Snacks': 'Potato Chips',
#         'Snacks': 'Pretzels',
#         'Crackers': 'Whole Wheat'

In [44]:
constraint = {
    'constraint_class': 'FixedCombinations',
    'constraint_parameters': {
        'column_names': ['Category', 'Product']
    }
}

In [41]:
from sdv.single_table import GaussianCopulaSynthesizer

synthesizer = GaussianCopulaSynthesizer(metadata)
synthesizer.add_constraints(constraints=[
    constraint
])
synthesizer.fit(df)
synthetic_data = synthesizer.sample(num_rows=1000)

Sampling rows: 100%|████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 14281.54it/s]

In [43]:
synthetic_data.to_csv("test.csv")

In [30]:
checkin_checkout_constraint = {
    'constraint_class': 'Cat_pro_mapping',
    'constraint_parameters': {
  
    }
}

In [16]:
checkin_checkout_constraint = {
    'constraint_class': 'Cat_pro_mapping',
    'constraint_parameters': {
        'Cookies': 'Chocolate Chip',
        'Cookies': 'Arrowroot',
        'Cookies': 'Oatmeal Raisin',
        'Bars': 'Carrot',
        'Bars': 'Bran',
        'Bars': 'Banana',
        'Snacks': 'Potato Chips',
        'Snacks': 'Pretzels',
        'Crackers': 'Whole Wheat'        
    }
}

,ID,Date,Region,City,Category,Product,Qty,UnitPrice,TotalPrice
0,ID07568,28-Oct,East,New York,Crackers,Chocolate Chip,27,1.68,57.23
1,ID07356,25-Jan,East,Los Angeles,Crackers,Chocolate Chip,67,1.68,90.72
2,ID07447,21-Feb,West,Boston,Crackers,Bran,33,2.41,121.41
3,ID07509,20-Jan,West,Los Angeles,Bars,Chocolate Chip,76,2.74,226.55
4,ID07535,12-Nov,East,Boston,Snacks,Whole Wheat,80,2.50,274.07
...,...,...,...,...,...,...,...,...,...
495,ID07509,23-Aug,West,New York,Snacks,Pretzels,91,2.07,185.25
496,ID07465,3-Dec,West,New York,Bars,Chocolate Chip,36,1.76,67.04
497,ID07354,21-Feb,West,Boston,Snacks,Potato Chips,23,1.70,61.85
498,ID07406,13-Oct,West,San Diego,Cookies,Oatmeal Raisin,26,1.68,50.50
499,ID07456,9-Jul,West,Los Angeles,Cookies,Whole Wheat,115,1.68,213.30

In [14]:
from sdv import SDV
sdv = SDV()
sdv.fit(data)

# Generate synthetic data
synthetic_data = sdv.sample()

# Print the synthetic data
print(synthetic_data)

ImportError: cannot import name 'SDV' from 'sdv' (C:\Users\shashi.kiran\Anaconda3\lib\site-packages\sdv\__init__.py)